.alert {
    border: 1px solid blueviolet;
    color: blueviolet;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    background: whitesmoke;
}

.alert-danger {
    color: red;
    border: 1px solid red;
}