<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <h1>Consumer</h1>
        <mat-nav-list>
            <a mat-raised-button color="primary" routerLink='/consumer/items'>Home</a><br />
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span> {{activeUser}} </span>
                <span style="float: right; padding-left: 20px;">
                    <app-log-out></app-log-out>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="page">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>